body {
  margin:0px;
  padding:0px;
}

.big-title {
    font-size: 110px;
    font-family: "Mercury SSm A", "Mercury SSm B";
    font-style: normal;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    line-height: 114px;
    margin: 0 auto;
    padding: 0px;
    letter-spacing: -3px;
    max-width: 860px;
}


.opening-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content:center;
    justify-content: center;
    padding-top: 230px;
    margin-bottom: 90px;
}


.logo-container {
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
}

.logo {
    /* height: 36px; */
    /* text-decoration: none; */
    /* width: 36px; */
}

.name{
  margin: 0px;
  text-decoration: none;
  line-height: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  margin-top: 4px;
  margin-top: 4px;
  font-family: "Whitney SSm A", "Whitney SSm B";
  color: black;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-top: 0.75em;
  letter-spacing: 0.05em;
}

.prose{
  font-family: "Mercury SSm A", "Mercury SSm B";
  font-size: 1rem;
  line-height: 1.7rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
}

a:visited{
  color: initial;
}

.logo-svg {
  width: 50px;
  height: 50px;
  height: 50px;
}

.title-sub{
  font-family: "Mercury SSm A", "Mercury SSm B";
  letter-spacing: -.4px;
  text-align: center;
  margin-top: 20px;
  font-size: 19px;
  font-weight: 400;
}


.story-section {
    max-width: 750px;
    margin: 0 auto;
}

.shorty-gif {
    max-width: 300px;
    margin: 0 auto;
    width: 300px;
    pointer-events: none;
    height: 240px;
    margin-top: 40px;
    margin-bottom: 40px;
}

a{
  color:black;
}

.prose-wrapper {
    width: 640px;
    margin: 0 auto;
}
.by-line{
  font-family: "Whitney SSm A", "Whitney SSm B";
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  margin-top: 30px;
}

p{
  margin:0px;
}

.top-slang-section{width: 100%;background: rgba(255, 223, 223, 0.58);margin-bottom: 100px;}


.top-slang-section-content {
    width: 640px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: "Whitney SSm A", "Whitney SSm B";
}

.top-slang-section-title-top {
    font-family: "Whitney SSm A", "Whitney SSm B";
    color: #FF3333;
    font-weight: 600;
    font-size: 19px;
}

.top-slang-section-title-bottom {
    margin: 0px;
    font-size: 16px;
    letter-spacing: -.3px;
    /* text-transform: uppercase; */
    font-weight: 600;
    margin-top: 5px;
}


.top-slang-section-table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.top-slang-section-title {
    margin-bottom: 30px;
}

.top-slang-section-table-current-year {
    border-bottom: 2px solid #FF3333;
    color: #FF3333;
    font-weight: 600;
    text-align: center;
    padding-bottom: 4px;
    font-size: 17px;
    margin-bottom: 10px;
}

.top-slang-section-table-current {
    width: 260px;
}

.top-slang-section-table-current-item {
    font-size: 15px;
    font-weight: 600;
}

.top-slang-section-table-current-items {height: 210px;display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-flex-direction: column;flex-direction: column;-webkit-flex-wrap: wrap;flex-wrap: wrap;line-height: 20px;}

.top-slang-section-table-current-item-num  {
  font-size: 12px;
  font-weight: 500;
}


.top-slang-section-table-past {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-left: 10px;
}

.top-slang-section-table-past-column {
    margin-right: 10px;
}

.top-slang-section-table-past-column-year {
    border-bottom: 2px solid black;
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    padding-bottom: 3px;
    text-align: center;
    margin-bottom: 9px;
}

.top-slang-section-table-past-column-item {
    font-size: 15px;
    line-height: 18px;
}