body {
  margin:0px;
  padding:0px;
}

.big-title {
    font-size: 110px;
    font-family: "Mercury SSm A", "Mercury SSm B";
    font-style: normal;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    line-height: 114px;
    margin: 0px;
    padding: 0px;
    letter-spacing: -3px;
}


.opening-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content:center;
    justify-content: center;
    padding-top: 230px;
    margin-bottom: 90px;
}


.logo-container {
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
}

.logo {
    /* height: 36px; */
    /* text-decoration: none; */
    /* width: 36px; */
}

.name{
  margin: 0px;
  text-decoration: none;
  line-height: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  margin-top: 4px;
  margin-top: 4px;
  font-family: "Whitney SSm A", "Whitney SSm B";
  color: black;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-top: 0.75em;
  letter-spacing: 0.05em;
}

.prose{
  font-family: "Mercury SSm A", "Mercury SSm B";
  font-size: 1rem;
  line-height: 1.7rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
}

a:visited{
  color: initial;
}

.logo-svg {
  width: 50px;
  height: 50px;
  height: 50px;
}

.title-sub{
  font-family: "Mercury SSm A", "Mercury SSm B";
  letter-spacing: -.4px;
  text-align: center;
  margin-top: 20px;
  font-size: 19px;
  font-weight: 400;
}


.story-section {
    max-width: 750px;
    margin: 0 auto;
}

.shorty-gif {
    max-width: 300px;
    margin: 0 auto;
    width: 300px;
    pointer-events: none;
    height: 240px;
    margin-top: 40px;
    margin-bottom: 40px;
}

a{
  color:black;
}

.prose-wrapper {
    width: 640px;
    margin: 0 auto;
}
.by-line{
  font-family: "Whitney SSm A", "Whitney SSm B";
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  margin-top: 30px;
}
